@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');


body{
  font-family: 'Noto Sans Arabic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-primary: #4A90E2;
}

@theme {
  --color-primary: ##4A90E2;
}
.borders{
    border: 1px solid #4576d7; /* Tailwind's gray-200 */
}

input[type="checkbox"] {
  accent-color:  var(--color-primary);
}